<h2>Authors</h2>
<table class="table table-striped">
  <tr>
    <th>First Nam</th>
    <th>Last Nam Nam</th>
    <th>Actions</th>
  </tr>
  <% @authors.each do |c| %>
    <tr>
      <td><%= c.first_name %></td>
      <td><%= c.last_name %></td>
      <td><%= link_to 'Edit', edit_author_path(c) %> | <%= link_to 'Delete', author_path(c), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
