<h2>Categories</h2>
<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Actions</th>
  </tr>
  <% @categories.each do |c| %>
    <tr>
      <td><%= c.name %></td>
      <td><%= link_to 'Edit', edit_category_path(c) %> | <%= link_to 'Delete', category_path(c), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
