<h1><%= @category.name %></h1>
<div id="books-index">
  <% @books.each_slice(4) do |group_books| %>
    <div class="row">
      <% group_books.each do |book| %>
        <div class="col-sm-3">
          <h3><%= book.title %></h3>
          <%= image_tag(book.cover_path) %>
          <%= link_to 'Read More', book_path(book), class:'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
