<% if params[:controller] == 'about' %>
  <div class="well">
    <h3>Location Info</h3>
    <ul>
      <li>The Bookstore</li>
      <li>499 Massachusetts Ave, Unit 2</li>
      <li>Boston MA</li>
      <li>Phone: 0965999290</li>
      <li>Email: vinhdeptrai@gmail.com</li>
    </ul>
  </div>
<% elsif params[:controller] == 'books'%>
  <div class="list-group">
    <% @categories.each do |c| %>
      <%= link_to c.name, category_path(c), class:'list-group-item' %>
    <% end %>
  </div>
<% end %>
